* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #f4f6f9;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #0a192f;
    color: white;
    position: sticky;
    top: 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.logo i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo i:hover {
    color: #64ffda;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #64ffda;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: #0a192f;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.hero h2 {
    margin: 15px 0;
    color: #64ffda;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #64ffda;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px 80px;
}

h2 {
    margin-bottom: 20px;
    color: #0a192f;
}

/* PROJECT CARD */
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.skills-grid div {
    background: #0a192f;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* CERT */
.cert-list {
    padding-left: 20px;
}

/* CONTACT */
.contact {
    text-align: center;
    background: #e8f0fe;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0a192f;
    color: white;
}
/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

    nav {
        padding: 15px 20px;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    section {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero h2 {
        font-size: 18px;
    }
}